<% layout('layouts/boilerplate')%><!--Wednesday June 22nd, 2022 4:44pm-->
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <!-- <div class="col-6 offset-3"> This is to center it and add by three-->       
        <div class="col-md-6 offset-md-3"> <!-- Added and edited Wednesday June 7th, 2023 4:43pm This is to center it and add by three-->
        <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
    <div class="mb-3"><!-- Margin bottom by three-->
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" id="title" name="campground[title]" value="<%=campground.title  %>" required> <!--Moved requiredThursday January 26, 2023 4:13pm-->
        <div class="valid-feedback"> Looks good! <!--Added Thursday January 26, 2023 4:16pm-->
        </div>
    </div>
    <div class="mb-3"><!-- Margin bottom by three-->
        <label class="form-label" for="location">Location</label>
        <input class="form-control" type="text" id="location" name="campground[location]" value="<%=campground.location  %> "required>
        <div class="valid-feedback"> Looks good! <!--Added Thursday January 26, 2023 4:18pm-->
        </div>
    </div>
   <!-- <div class="mb-3"> Friday March 17, 2023 4:41 PM-->
    <!--    <label class="form-label" for="image">Add Images</label>
        <input type="file" id="image" multiple> Added Thursday January 26, 2023 4:19pm
    </div>-->
       <!-- <label class="form-label" for="image">Image URL</label>
        <input class="form-control" type="text" id="image" name="campground[image]"  value="<%=campground.image  %> "required> Added Thursday January 26, 2023 4:19pm-->
       <!-- <div class="valid-feedback"> Looks good! Added Thursday January 26, 2023 4:13pm
        </div>
    </div>-->

    <div class="mb-3">
    <label class="form-label" for="price">Campground Price</label>
    <div class="input-group ">
        <span class="input-group-text" id="price-label">$</span>
        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
             aria-describedby="price-label" name="campground[price]" value="<%=campground.price  %> "required> <!--Username basic-addon1--> <!--Thursday January 26th, 2023 4:21pm-->
             <div class="valid-feedback"> Looks good! <!--Added Thursday January 26, 2023 4:21pm-->
             </div>
      </div>
    </div>

    <div class="mb-3"><!-- Margin bottom by three-->
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" type="text" id="description" name="campground[description]"
        required><%=campground.description%> </textarea> <!--<input>--><!--forgot the> after required Friday January 13th, 2023 4:58 pm-->
        <div class="valid-feedback"> <!-- Added {Again? }Friday January 13th, 2023 4:58 pm-->
            Looks good!
            </div>
    </div>
    <div class="mb-3"><!--Wednesday March 22nd, 2023 4:22pm--> 
        <div class="form-file custom-file">
            <input type="file" class="form-file-input" id="image" name="image" multiple> <!--Removed class from the input Monday April 3rd, 2023 5:02pm-->
            <label class="form-file-label" for="image"> <!--I accidently put in this '-text custom-file' I removed it now. Monday April 3rd, 2023 5:30 pm-->
                <span class="form-file-text custom-file-label" >Add more image(s)... </span>
                <span class="form-file-button">Browse</span>
            </label>
        </div>
    </div>  

    <div class="mb-3"> <!-- Friday March 24th, 2023 4:19 pm-->
        <% campground.images.forEach(function(img, i){ %>
            <img src="<%=img.thumbnail %>" class="img-thumbnail" alt=""> <!-- removed '.url' and replaced it with thumbnail// Monday March 27th, 2023 5:10pm-->
        <div class="form-check-inline">
            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
        </div> 
    <label for="image-<%=i%>">Delete?</label>
     <% }) %>
    </div> 
     <div class="mb-3">
        <button class="btn btn-info">Update Add Campground </button> <!--Removed february 16th, 2023 5:15pm success I put that instead of a info button--> 
</div>
</form>
<a href="/campgrounds/<%= campground._id%>"> Back To All Campgrounds</a>   <!-- Modified and added 'return to' Friday January 13th, 2023 4:58 pm m4/13/2023-->
    </div>
</div>

<!--<!DOCTYPE html> Edited out Thursday February 16th, 2023 4:58pm
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Edit Campground</title>  Edits Monday May 9, 2022 4:44pm-->
<!--</head>

<body>
    <h1>Edit Campground</h1>
    <form action="/campgrounds/<%= campground.id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="campground[title]" value="<%=campground.title  %> ">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]" value="<%=campground.location  %> ">
        </div>
        <button>Add Campground</button>
    </form>
    <a href="/campgrounds/<%= campground.id%>">Back To Campground</a>  

</body>

</html> -->