<% layout ('layouts/boilerplate') %> 

<h1>All Campgrounds!</h1>
<div>
    <a href="/campgrounds/new">Add Campground</a>  <!--  <ul> Wednesday January 25th 2022 5:30pm-->
</div>
     <% for (let campground of campgrounds) { %>
     <div class="card" mb-3> <!--This used to be a 'd' Friday June 3rd, 2022 5:04 PM-->
         <div class="row">
            <div class="col-md-4"> <!--</div>-->
            <img class="img-fluid" alt="" src="<%=campground.image %>">
         </div>
         <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %> </h5>
                <p  class="card-text"><%= campground.description %> </p> <!--title-->
                <p class="card-text">
                    <small class="text-muted"><%= campground.location %></small>
                </p>
                <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">View<%= campground.title %></a>
            </div>
         </div>
     </div>  
</div>       
         <% } %> 
    
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <div></div>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campgrounds</title>
</head>
<body> --> <!--//Monday May 2nd 2022 5:00 pm-->
    
  <!--  <ul> Wednesday May 4th 2022 4:44pm-->
       
           <!-- <li><a href="/campgrounds/<= campground.id %>"><= campground.title %></a></li>  -->

  <!--  </ul>
    
</body>
</html>-->